body.dark-mode {
  background-color: #222;
  color: #fff;
}

#darkModeToggle {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
}

.nexthome {
  font-weight: 300;
  font-size: 16px;
  color: #222;
  letter-spacing: 0.313em;
  line-height: 1.5em;
}

#home-button {
  background-color: var(--green);
  color: black;
  border-radius: 4px;

  position: absolute;
  left: 1%;
  height: 70px;
  width: 50px;

  text-align: center;
  font-size: 1.5rem;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

#dark-mode-toggle {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;

  position: absolute;
  height: 60px;
  border-radius: 30px;
  box-shadow: var(--box-shadow);
  border: none;
  right: 1%;
  top: 3%;
}

#darkModeToggle:hover {
  cursor: pointer;
}

.nexthome {
  font-weight: 300;
  font-size: 16px;
  color: #222;
  letter-spacing: 0.313em;
  line-height: 1.5em;
}
