#homeButton {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}
#darkModeToggle {
  margin-left: 500px;
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}
