header {
    height: 200px;
}

.movie-content {
    margin: auto;
}

.movie-content-top {
    background-color: wheat;
    width: 1600px;
    height: 800px;

    display: flex;
    flex-direction: row;
}

.poster {
    width: 500px;
    height: 700px;
    background-color: gold;
}

.movie-detail {
    width: 1100px;
    height: 700px;
    background-color: green;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-title {
    width: 1000px;
    height: 200px;
    background-color: aqua;

    font-size: 3rem;
}

.movie-tagline {
    width: 1000px;
    height: 100px;
    background-color: aquamarine;
    font-size: 2rem;
}

.movie-info {
    width: 1000px;
    height: 600px;
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.detail-inner {
    background-color: black;
    width: 300px;
    height: 350px;
}

.inner-content {
    background-color: chocolate;
    width: 280px;
    height: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.movie-overview {
    width: 1600px;
    height: 500px;
    background-color: yellow;
}