.movie-cards {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  margin: 20px auto 10px auto;
}

.movie-card {
  position: relative;
  background-color: var(--dark-grey);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  width: 300px;
  height: 500px;
}

.movie-card__poster {
  margin: 20px 0px;
  display: flex;
  justify-content: center;
}

.movie-card__poster img {
  width: 260px;
  height: 390px;
  border-radius: 10px;
}

.movie-card__content {
  margin: 0px 20px;
}

.movie-card__title {
  font-size: large;
  font-weight: bolder;
}

.hidden {
  display: none;
}

.movie-card__overview {
  color: white;
  padding: 10px;
  border-radius: 10px;
  line-height: 20px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 25, 28, 0.95);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.movie-card__overview:hover {
  opacity: 1;
}

.noMovie {
  display: flex;
  justify-content: center;
  margin: 100px;
}
