.search {
  display: flex;
  justify-content: center;
  height: 80px;
  font-size: 28px;
}

.search__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.search__form input {
  width: 250px;
  height: 30px;
  padding: 10px;
  font-size: large;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.search__form input:focus {
  width: 20vw;
}

.search__form button {
  width: 50px;
  height: 50px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--yellow);
  border-radius: 20px;
  border: none;
  position: absolute;
  right: -15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.search__form button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transform: scale(1.1);
}
