.search {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  font-size: 28px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-left: 300px;
}

.search-form input {
  width: 250px;
  height: 30px;
  padding: 10px;
  font-size: large;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.search-form input:focus {
  width: 20vw;
}

.search-form button {
  width: 80px;
  height: 50px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: var(--red);
  border-radius: 20px;
  border: none;
  position: absolute;
  right: -15px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.search-form button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transform: scale(1.1);
}

/* 정렬 버튼 */

.sort-btns {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.sort-btns>button {
  width: 80px;
  height: 50px;
  padding: 10px;
  font-size: 17px;
  font-weight: 300;
  color: white;
  background-color: var(--pink);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all 0.1s ease-in-out;
}

.sort-btns>button:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
}

.no-movie {
  font-size: 28px;
}