@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "reset.css";
@import "variables.css";
@import "movie-card.css";
@import "search.css";
@import "review.css";
@import "btns.css";
@import "topbtn.css";
@import "detail.css";
@import "modal.css";
@import "credit.css";
@import "video.css";

body {
  font-family: "Nanum Gothic", sans-serif;
  height: 100vh;
  background-color: var(--grey);
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.title {
  z-index: 2;
  background-color: white;
  position: fixed;
  top: 0;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid var(--red);
}

.title-text {
  font-size: 32px;
  font-weight: 500;
  margin-right: 120px;
}

.title-home {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}
