@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "reset.css";
@import "variables.css";
@import "movie-card.css";
@import "search.css";

body {
  font-family: "Nanum Gothic", sans-serif;
  height: 100vh;
  background-color: var(--green);
}

footer {
  display: flex;
  justify-content: center;
  padding: 50px;
}

img {
  width: 260px;
  height: 390px;
  border-radius: 10px;
}

.title {
  background-color: var(--brown);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.title__text {
  font-size: 32px;
  font-weight: 1000;
}
