.move-top {
  z-index: 2;
  visibility: hidden;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
}

.move-top:hover {
  filter: brightness(150%);
}