.move-top {
  z-index: 2;
  visibility: hidden;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--red);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 300;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in-out;
}

.move-top:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}
